body {
    margin: 0;
    background: #4DC9CC;
}

.header {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 32pt;
    padding: 10px;
}

svg {
    position: absolute;
    animation: bounceIn 4s;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
@keyframes bounceIn{
0%{
transform scale (0,1);
opacity:1;

}
100%{
    transform scale(1);
    opacity:1;
}




}





